
  <div class="clearfix" style="position:relative;padding:10px;">
    <div style="float:left">
      <div style="font-size:18px;margin-bottom:8px"><span style="color:green">Challenge</span> / <a href="/challenge/{{_id}}">{{title}}</a></div>
      <div style="margin-bottom: 10px">{{description}}</div>
      {{#if extended}}
        <div style="margin-bottom: 10px">{{instructions}}</div>
      {{/if}}
    </div>
    <div style="float:right;">
      {{#if pick}}
        <button class="btn btn-primary pick-challenge">Pick Challenge</button>
      {{else}}
        <button class="btn btn-primary start-challenge {{#if started}}hidden{{/if}}">Start Challenge</button>
        <button class="btn btn-primary complete-challenge {{#unless started}}hidden{{/unless}}">Complete Challenge</button>
      {{/if}}
    </div>
  </div>