
  <div class="clearfix" style="position:relative;padding:10px;">
    <div style="float:left">
      <div style="font-size:18px;margin-bottom:8px"><a href="/community/{{_id}}">{{title}}</a></div>
      <div style="margin-bottom: 10px">{{description}}</div>
      {{#if extended}}
        <div style="margin-bottom: 10px">{{instructions}}</div>
        <div>{{link}}</div>
      {{/if}}
    </div>
  </div>