{{#if isCreator}}
<form method="POST" action="/save-details">
  <input type="hidden" id="avatar-url" name="avatar-url" value="/images/default.png">
</form>
{{/if}}
<div class="header clearfix">
  <div style="position:relative;width:70px;height:70px;float:left;border-radius: 6px;box-shadow: 0 1px 2px #6d6d6d;overflow:hidden;">
    <img id="preview" src="{{avatar_url}}" style="background-color: #ccc;
      width: 100%;
      height: 100%;">
    {{#if isCreator}}
      <label for="file-input" style="position:absolute;top:0px;right:0px;cursor:pointer;background-color:#fff;border:1px solid #ccc;height:20px;width:20px;text-align:center;">
        <input type="file" id="file-input" style="display:none">
        <i class="fa fa-pencil"></i>
      </label>
    {{/if}}
  </div>
  <div style="float:left;padding:10px">
    <div style="color: #666;font-weight: 500;font-size: 16px;">PROFILE</div>
    <div class="main-header">{{username}}</div>
  </div>
</div>
<div style="padding:10px">
<div class="small-header clearfix intention-header">
  <div style="float:left;">INTENTION</div>
  <div style="float:left;margin-left:20px;text-align:right;margin-top:-2px">
    {{#if isCreator}}
    <a href="javascript:;">
      <i class="fa fa-pencil"></i>
    </a>
    {{/if}}
  </div>
</div>
<div class="intention-container">
  {{intention}}
</div>
{{#if isCreator}}
<div class="edit-intention-container" style="display:none">
  <textarea style="border: 1px solid #ccc;width:100%;margin-bottom:10px">{{intention}}</textarea>
  <button class="btn btn-primary">Change</button>
</div>
{{/if}}
<div class="small-header clearfix personal-url">
  <div style="float:left;">LINK TO PERSONAL SITE</div>
  <div style="float:left;margin-left:20px;text-align:right;margin-top:-2px">
    {{#if isCreator}}
    <a href="javascript:;">
      <i class="fa fa-pencil"></i>
    </a>
    {{/if}}
  </div>
</div>
<div class="personal-url-container" style="margin-bottom: 20px">
  {{personal_url}}
</div>
{{#if isCreator}}
<div class="edit-personal-container" style="display:none">
  <textarea style="border: 1px solid #ccc;width:100%;margin-bottom:10px">{{personal_url}}</textarea>
  <button class="btn btn-primary">Change</button>
</div>
{{/if}}
<div class="clearfix" style="margin-bottom: 20px">
  <div style="float: left; width:48%">
    <div class="small-header">
      COMPLETED CHALLENGES
    </div>
    <div class="completed-challenges-container" style="max-height:400px;overflow:scroll;margin-top:10px">
    </div>
  </div>
  <div style="float: right; width:48%">
    <div class="small-header">
      CURRENT CHALLENGES
    </div>
    <div class="current-challenges-container" style="max-height:400px;overflow:scroll;margin-top:10px">
    </div>
  </div>
</div>
<div>
  <div class="small-header">
    COMMUNITIES MANAGED
  </div>
  <div class="communities-managed-container" style="max-height:400px; overflow:scroll">
  </div>
</div>
<div>
  <div class="small-header">
    CHALLENGES CREATED
  </div>
  <div class="challenges-created-container" style="max-height:400px; overflow:scroll">
  </div>
</div>