    <div class="main-reply">
        <div class="title-container clearfix">
            <div class="title" style="float:left">
                <div class="dropdown-container arrow-right clearfix" style="display:inline-block;font-family:'Merriweather';font-weight:bold">
                    {{#if pointsStatus}}
                    <span style="color: green;font-family: arial;font-size: 12px;">({{pointsStatus}})</span>
                    {{/if}}
                {{#if is_author}}
                    {{#equal privacy "ANONYMOUS"}}
                        <span style="color: #8F8F8F">Anonymous</span> <span style="color: #008FBF">(You)</span>
                    {{/equal}}
                    {{#equal privacy "PUBLIC"}}
                        <span style="color: #008FBF">You</span>
                    {{/equal}}
                {{else}}
                    {{#equal privacy "ANONYMOUS"}}
                        <span style="color: #8F8F8F">Anonymous</span>
                    {{/equal}}
                    {{#equal privacy "PUBLIC"}}
                        <span style="color: #008FBF">{{username}}</span>
                    {{/equal}}
                {{/if}}
                    <div class="dropdown-arrow clearfix">
                        <div class="arrow">
                        </div>
                        <div class="dropdown" style="font-weight:400">
                            <ul>
                                <li>{{userEntriesCount}} entries</li>
                                <li>{{userRepliesCount}} replies</li>
                                <li>{{userThanksCount}} replies thanked</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <strong style="display:inline-block;vertical-align:top;">replied:</strong>
            </div>
            {{#if is_author}}
            <div class="dropdown-container arrow-right clearfix" style="float: right">
                <a href="javascript:;" class="reply-options">
                    <i class="fa fa-ellipsis-h fa-lg"></i>
                </a>
                <div class="dropdown-arrow clearfix">
                    <div class="arrow">
                    </div>
                    <div class="dropdown">
                        <ul>
                            <li><a href="javascript:;" class="reply-privacy">Set as {{#equal privacy "ANONYMOUS"}}Public{{/equal}}{{#equal privacy "PUBLIC"}}Anonymous{{/equal}}</a></li>
                            {{#if can_edit }}<li><a href="javascript:;" class="edit">Edit</a></li>{{/if}}
                        </ul>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
        <p class="description">{{ description }}{{#if readMore}} <a href="javascript:;" class="read-more">Read More</a>{{/if}}</p>
        <div class="reply-actions">
            <a href="javascript:;" class="make-response">
                <span>Respond</span>
            </a>
            {{#if can_thank}} • 
                {{#unless thanked}}
                <a href="javascript:;" class="action">
                    <span>Thank for reply</span>
                </a>
                {{else}}
                <span>Thanked!</span>
                {{/unless}}
            {{/if}}
        </div>
        {{#if is_author}}
            {{#if thanked}}
            <div>
                <span>You were thanked!</span>
            </div>
            {{/if}}
        {{/if}}
        {{#if new_reply}}
            <div class="reply-to-reply clearfix">
              <textarea></textarea>
              <div class="confirmed">Submitted! Refresh the page.</div>
              <button class="btn btn-primary submit-response">Submit</button>
            </div>
        {{/if}}
    </div>
    <div class="nested-container"></div>