<div class="description">
{{#unless edit}}
  {{description}}
{{else}}
  <textarea>{{description}}</textarea>
  <button>Submit</button>
{{/unless}}
</div>
<div class="actions">
  <select>
    {{#each days}}
      <option value="{{pos}}" {{#if selected}}selected="selected"{{/if}}>{{pos}}</option>
    {{/each}}
  </select>
  <a href="javascript:;" class="edit">Edit</a>
  <a href="javascript:;" class="delete">Delete</a>
</div>