<div class="side-action-container">
    {{#if show_replies}}
        {{#if num_replies}}
            <a href="javascript:;" class="side-action reply-summary">
                {{num_replies}}
                <i class="fa fa-comment"></i>
            </a>
        {{/if}}
    {{/if}}
</div>
{{#if annotation }}
    <div class="annotation">
        <div class="annotation-desc"><span>Based on your snippet:</span> <span>{{ annotation }}</span></div>
    </div>
{{/if}}
<div class="message clearfix{{#equal privacy "Private"}} private{{/equal}}" data-id={{_id}} {{#equal viewType "superuser"}}{{#if flaggedBy.length}}background-color: #ccc{{/if}}{{/equal}}>
    <div class="right-actions dropdown-container arrow-right">
        <a href="javascript:;" class="options">
            <i class="fa fa-ellipsis-h fa-lg"></i>
        </a>
        <div class="dropdown-arrow clearfix">
            <div class="arrow">
            </div>
            <div class="dropdown">
                <ul>
                    {{#if is_author}}
                    <li><a href="javascript:;" class="private-only">Set as Private</a></li>
                    {{#if can_edit }}<li><a href="javascript:;" class="edit">Edit</a></li>{{/if}}
                    <li><a href="javascript:;" class="delete">Delete</a></li>
                    <li><a href="javascript:;" class="archive">Archive</a></li>
                    {{else}}
                    <li><a href="javascript:;" class="report-entry">Report</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
    <div class="message-top">
        <span class="with-author"><strong>
        {{#equal privacy "PUBLIC"}}<a href="/profile/{{username}}">{{username}}</a>{{else}}{{username}}{{/equal}}</strong>{{#if intention}}, {{intention}}{{/if}} <!--•--> </span><!--{{date}}--> {{#if community}}to the {{#each community}}<a data-track="thought-community" data-id="{{_id}}" href="/community/{{title}}" style="color:#ab69ca;font-weight:bold">{{title}}</a>{{/each}} community{{/if}}
        {{#if tag_ids}}
        <div class="tags-container">
            Topics: <ul>{{#each tag_ids}}<li>{{this}}</li> {{/each}}</ul>
        </div>
        {{/if}}
        {{#if prompt}}
        <div style="color:#00AA27">
            Answering the prompt {{#each prompt}}<strong>{{description}}</strong>{{/each}}
        </div>
        {{/if}}
    </div>
    {{#if link}}
        <div class="link-box">
            <span class="title">With a reflection to this link:</span>
            <a href="{{ link }}" target="_blank">{{ link }}</a>
        </div>
    {{/if}}

    {{#if challenge}}
    <div style="
    position: relative;
    border: 2px solid #d99cff;
    border-radius: 4px;
    box-shadow: 0 1px 1px #ccc;
    margin: 0 10px;
    margin-bottom:6px">
        <div style="
            padding: 2px 8px;
            background: #e6beff;
            font-size: 12px;
            color: #585858;
        ">RESPONDING TO CHALLENGE</div>
        <div class="challenge-container" style="padding:8px"></div>
    </div>
    {{/if}}
    <div class="description selectable">{{{ description }}}</div>
    {{#if read_more}} 
        <div class="read-more-container">
            <a href="javascript:;" class="read-more">Read more</a>
        </div>
    {{/if}}

    <div class="message-summary clearfix">
        <a href="javascript:;" class="click-reply">Reply</a>
{{!--         {{#if nonAnnotationReplies}}
            <a href="javascript:;" class="view-replies">Read Replies ({{nonAnnotationReplies.length}})</a>
        {{/if}} --}}

    {{#if is_author}}
        {{#equal privacy "Private"}}
            <div class="private-entry-label">
                <i class="fa fa-lock" title='Private Entry'></i>
                Private Entry
            </div>
        {{/equal}}
        {{#equal privacy "Anonymous"}}
            <div class="private-entry-label">
                http://www.reflectupon.net/entry/{{_id}}
            </div>
        {{/equal}}
    {{/if}}
    </div>
    <div class="left-actions dropdown-container arrow-left">
        <div class="dropdown-arrow">
            <div class="arrow"></div>
            <div class="dropdown"><button class="privacy-status">Set as anonymous</button></div>
        </div>
    </div>
    <div class="tooltip_description" style="display:none;" title="No worries"></div>
    <div class="write-reply-container write-reply-box"></div>
    {{#if replies.length}}
    <div class="response-list" style="padding: 10px 0;background-color:#f9f9f9">
    </div>
    {{/if}}
</div>
<div class="replies"></div>

{{#if enable_below_message}}
    <div class="below-message">
        {{#if tags}}
            <div class="tags-container">
                Tags included:
                {{#each tags}}
                    <span><i class="fa fa-tag"></i>{{name}}</span>
                {{/each}}
            </div>
        {{/if}}
    </div>
{{/if}}
</div>