<div class="message-top">
    Written <span class="with-author">by <strong>{{username}}</strong> • </span>{{date}}<span class="highlight-reply"> • Highlight text in entry to form reply</span>
    {{#if tag_ids}}
    <div class="tags-container">
        Topics: <ul>{{#each tag_ids}}<li>{{this}}</li> {{/each}}</ul>
    </div>
    {{/if}}
    {{#if prompt}}
    <div style="color:#00AA27">
        Answering the prompt <strong>{{prompt}}</strong>
    </div>
    {{/if}}
</div>
<div class="side-action-container">
    {{#if show_replies}}
        {{#if num_replies}}
            <a href="javascript:;" class="side-action reply-summary">
                {{num_replies}}
                <i class="fa fa-comment"></i>
            </a>
        {{/if}}
    {{/if}}
    {{#if can_reply}}
        <a href="javascript:;" class="side-action write-reply2">
            <i class="fa fa-plus"></i><span>Reply</span>
        </a>
    {{/if}}
</div>
{{#if annotation }}
    <div class="annotation">
        <div class="annotation-desc"><span>Based on your snippet:</span> <span>{{ annotation }}</span></div>
    </div>
{{/if}}
<div class="message clearfix{{#equal privacy "Private"}} private{{/equal}}">
    {{#if link}}
        <div class="link-box">
            <span class="title">With a reflection to this link:</span>
            <a href="{{ link }}" target="_blank">{{ link }}</a>
        </div>
    {{/if}}

    <div class="description selectable">{{{ description }}}</div>
    {{#if read_more}} 
        <div class="read-more-container">
            <a href="javascript:;" class="read-more">Read more</a>
        </div>
    {{/if}}

    <div class="message-summary clearfix">
        <a href="javascript:;" class="click-reply">Reply</a>

    {{#if is_author}}
        {{#equal privacy "Private"}}
            <div class="private-entry-label">
                <i class="fa fa-lock" title='Private Entry'></i>
                Private Entry
            </div>
        {{/equal}}
        {{#equal privacy "Anonymous"}}
            <div class="private-entry-label">
                http://www.reflectupon.net/entry/{{_id}}
            </div>
        {{/equal}}
        <div class="right-actions dropdown-container arrow-right">
            <a href="javascript:;" class="options">
                <i class="fa fa-ellipsis-h fa-lg"></i>
            </a>
            <div class="dropdown-arrow clearfix">
                <div class="arrow">
                </div>
                <div class="dropdown">
                    <ul>
                        <li><a href="javascript:;" class="private-only">Set as Private</a></li>
                        {{#if can_edit }}<li><a href="javascript:;" class="edit">Edit</a></li>{{/if}}
                        <li><a href="javascript:;" class="delete">Delete</a></li>
                        <li><a href="javascript:;" class="archive">Archive</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {{/if}}
    </div>
    <div class="left-actions dropdown-container arrow-left">
        <div class="dropdown-arrow">
            <div class="arrow"></div>
            <div class="dropdown"><button class="privacy-status">Set as anonymous</button></div>
        </div>
    </div>
    <div class="tooltip_description" style="display:none;" title="No worries"></div>
    <div class="write-reply-container write-reply-box"></div>
    {{#if nonAnnotationReplies}}
    <div class="response-list">
        <div class="response">
            Annotated responses to the right. Other responses below.
        </div>
        {{#each nonAnnotationReplies}}
        <div class="response">
            <div><strong>Someone replied:</strong></div>
            <div>{{description}}</div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>
<div class="replies"></div>

{{#if enable_below_message}}
    <div class="below-message">
        {{#if tags}}
            <div class="tags-container">
                Tags included:
                {{#each tags}}
                    <span><i class="fa fa-tag"></i>{{name}}</span>
                {{/each}}
            </div>
        {{/if}}
    </div>
{{/if}}
</div>