<% include header %>
    <div id="container" class="challenges-page"></div>

    <script type="text/javascript">
    $(document).ready(function(){
        rupon.controllers.startChallengesPage({
          settings: <%- settings %>,
          user:     <%- user %>,
          challenges: <%- challenges %>,
          prompts: <%- prompts %>,
          myCommunities: <%- myCommunities %>
        });
    }) 
    </script>

<% include footer %>