<% include header %>
    <div id="container">
      <div class="side-view-container"></div>
      <div class="main-view-container">
      </div>
    </div>

    <script type="text/javascript">
    $(document).ready(function(){
        rupon.controllers.startChallengePage({
          settings: <%- settings %>,
          user:     <%- user %>,
          challenge: <%- challenge %>,
          myCommunities: <%- myCommunities %>,
          myChallenges: <%- myChallenges %>
        });
    }) 
    </script>

<% include footer %>