<% include header %>
    <div id="container" class="community-page"></div>

    <script type="text/javascript">
    $(document).ready(function(){
        rupon.controllers.startCommunityPage({
          settings: <%- settings %>,
          user:     <%- user %>,
          communities: <%- communities %>,
          challenges: <%- challenges %>,
          community: <%- community %>,
          popular: <%- popular %>,
          myCommunities: <%- myCommunities %>,
          myChallenges: <%- myChallenges %>
        });
    }) 
    </script>

<% include footer %>