<% include header %>
    <div id="container"></div>

    <script type="text/javascript">
    $(document).ready(function(){
        rupon.controllers.setAllThoughts({ 
          user: <%- user %>,
          frequency: <%- frequency %>,
          popular: <%- popular %><%if (typeof prompt != "undefined") { %>,
          prompt: <%- prompt %><% } %>,
          settings: <%- settings %>,
          communities: <%- communities %>,
          myCommunities: <%- myCommunities %>,
          myChallenges: <%- myChallenges %>
        });
    })
    </script>

<% include footer %>